{%  load static %}
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">


          {%  for i in picture %}
          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url({{i.picture.url}});">
            <div class="carousel-container">
              <div class="carousel-content container">
                {%  if i.sentence %}
                <h2 class="animate__animated animate__fadeInDown">  {{i.sentence}}   </h2>
                {%  else  %}
                <h2 class="animate__animated animate__fadeInDown">  به وبسایت  شرکت آبنوش خوش آمدید </h2>


                {%  endif %}
                <!-- <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p> -->
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">با لبخند وارد شوید </a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->


          <!-- Slide 3 -->
          {%  endfor %}

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section>